<tr>
	<td>
		<a href="?action=bannerdetail&amp;id={id}"><img src="../templates/img/b_select.png" alt="status" /> {@Details}</a><br />
		<a href="#" onclick="status({id});"><img src="../templates/img/{status_icon}" alt="status" /> {@Status}</a><br />
		<a href="#" onclick="drop({id});"><img src="../templates/img/b_drop.png" alt="drop" /> {@löschen}</a>
	</td>
	<td>{name}</td>
	<td class="bannerview"><div class="bannerview">{code}</div></td>
	<td>
		<img src="../templates/img/b_view.png" alt="views" /> {adviews}<br />
		<img src="../templates/img/b_click.gif" alt="clicks" /> {adclicks}<br />
		<img src="../templates/img/b_ratio.png" alt="ratio" /> {ratio} %
	</td>
</tr>