<!DOCTYPE html>
<html lang="{lang}" dir="ltr">
<head>
	<title>ArLight - The easy way to manage advertisements</title>
	
	<!-- 
		AdRotator Light
		Copyright by Scripthosting.net
		
		Homepage: http://www.scripthosting.net
		Forum: http://board.scripthosting.net	
	 -->
	 
	<meta charset="UTF-8" />
	<meta name="robots" content="NOINDEX,NOFOLLOW" />
	<meta name="description" content="AdRotator Light - The easy way to manage advertisements" />
	<meta name="keywords" content="AdRotator Light, Professional AdServer, Scripthosting.net" />
	<meta name="author" content="Scripthosting.net" />
	<meta name="dcterms.created" content="{date}" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
</head>

<body>

<div id="overall_content">

