<div id="menu" style="text-align:center;">
	<table style="width:100%">
		<tr>
			<td id="mnuHome" onclick="document.location.href='./?action=news'" class="menu_item" style="border-left:0;"><img src="../templates/img/b_home.png" alt="item" /> <span class="menu_item"><a href="./?action=news">{@Home}</a></span></td>
			<td id="mnuBannerliste" onclick="document.location.href='./?action=bannerliste'" class="menu_item"><img src="../templates/img/b_select.png" alt="item" /> <span class="menu_item"><a href="./?action=bannerliste">{@Bannerübersicht}</a></span></td>
			<td id="mnuBannereintragen" onclick="document.location.href='./?action=bannereintragen'" class="menu_item"><img src="../templates/img/b_add.gif" alt="item" /> <span class="menu_item"><a href="./?action=bannereintragen">{@Banner eintragen}</a></span></td>
			<td id="mnuBannercode" onclick="document.location.href='./?action=bannercode'" class="menu_item"><img src="../templates/img/b_code.gif" alt="item" /> <span class="menu_item"><a href="./?action=bannercode">{@Bannercode}</a></span></td>
			<td id="mnuSettings" onclick="document.location.href='./?action=settings'" class="menu_item"><img src="../templates/img/b_settings.gif" alt="item" /> <span class="menu_item"><a href="./?action=settings">{@Einstellungen}</a></span></td>
			<td id="mnuLogout" onclick="document.location.href='./?action=logout'" class="menu_item" style="border-right:0;"><img src="../templates/img/b_off.gif" alt="item" /> <span class="menu_item"><a href="./?action=logout">{@Abmelden}</a></span></td>	
		</tr>	
	</table>
</div>
