<!-- Banner eintragen -->
<div id="sitecontent">
	<form action="./?action=neuesformat&amp;noheader=true" method="post">
	<table class="table">
		<tr>
			<th colspan="2"><img src="../templates/img/item.png" alt="item" /> {@Format eintragen}</th>
		</tr>
		<tr>
			<td class="td0" colspan="2"><img src="../templates/img/b_tipp.png" alt="item" /> {@Erweitern Sie Ihre Kategorien um ein weiteres Format.}</td>
		</tr>
		<tr>
			<td class="td1">{@Format-Name}:</td>
			<td class="td1"><input type="text" name="name" value="{name}" style="width:300px;" /></td>
		</tr>
		<tr>
			<td class="td0">{@Breite}:</td>
			<td class="td0"><input type="text" name="width" value="{width}" size="5" /> {@in Pixel}</td>
		</tr>
		<tr>
			<td class="td1">{@Höhe}:</td>
			<td class="td1"><input type="text" name="height" value="{height}" size="5" /> {@in Pixel}</td>
		</tr>
		<tr>
			<td class="td0" colspan="2" style="text-align:right;"><input type="submit" name="submit" value="{@absenden}" /></td>
		</tr>
	</table>
	</form>
</div>
