<div id="sitecontent">
<!-- 	<div class="info"><img src="../templates/img/b_tipp.png" alt="info" /> <b>{@Einstellungen}</b></div>
	<br /> -->

	<!-- <form action="./?action=settings" method="post">
	<input type="hidden" name="noheader" value="true" />
	<table style="margin: 0px auto; width: 442px;">
		<tr>
			<th>{@Einstellung}</th>
			<th>{@Status}</th>
		</tr>	
		<tr class="tr1">
			<td><b>Testüberschrift</b><br />Testeintrag</td>
			<td style="width:60px;"><input type="checkbox" name="chkTest" value="1" disabled="disabled" {chkTestChecked}/></td>
		</tr>
		<tr class="tr2">
			<td colspan="2"><input name="submit" type="submit" value="{@Einstellungen speichern}" /></td>
		</tr>	
	</table>
	</form>
	
	<br /> -->
	
	<table style="margin:0px auto; width:442px;">
		<tr>
			<th colspan="2">Weitere {@Einstellungen}</th>
		</tr>
		<tr>
			<td class="td0"><b>{@Benutzerverwaltung}</b></td>
			<td class="td0" style="width:80px;"><input type="button" value="{@weiter} »" onclick="document.location.href='?action=usercontrol'" /></td>
		</tr>
		<tr>
			<td class="td1"><b>{@Nach Software-Aktualisierungen suchen}</b></td>
			<td class="td1"><input type="button" value="{@weiter} »" onclick="document.location.href='?action=update'" /></td>
		</tr>
	</table>
</div>

<!-- Menü einfärben -->
<script> highlightNav('mnuSettings'); </script>
